
.cards {
display: flex;
flex-direction: column;
justify-content: center;
  &__block {
  display: grid;
  width: 1316px;
  height: 771px;
  margin-top: 112px;
  margin-bottom: 48px;
  gap: 48px;
   grid-template-columns: auto auto auto auto auto;
   background-color: red;
  }
  &__text {
    width: 1316px;
    opacity: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
  }
  .active {
    opacity: 0;
  }
}