.basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  height: 987px;
  margin: 0 auto;
  padding: 0;
  gap: 48px;
       @media screen and (max-width: 1400px) {
     width: 1050px ;
   }
     @media screen and (max-width: 1200px) {
     width: 880px ;
   }
     @media screen and (max-width: 1024px) {
     width: 750px ;
   }
     @media screen and (max-width: 880px) {
     width: 510px ;
   }
     @media screen and (max-width: 768px) {
     width: 480px ;
   }
       @media screen and (max-width: 600px) {
     width: 230px ;
   }
       @media screen and (max-width: 280px) {
     width: 225px ;
   }
  &__block {
    display: flex;
    flex-wrap: wrap;
    width: 1318px;
    margin-top: 114px;
    margin-bottom: 48px;
    gap: 48px;
         @media screen and (max-width: 1400px) {
     width: 1070px ;
     margin: 112px auto;
   }
     @media screen and (max-width: 1200px) {
     width: 800px ;
     margin: 112px auto;
   }
     @media screen and (max-width: 1024px) {
     width: 520px ;
     margin: 112px auto;
   }
     @media screen and (max-width: 880px) {
     width: 550px ;
     margin: 112px auto;
   }
     @media screen and (max-width: 768px) {
     width: 480px ;
     margin: 112px auto;
      gap: 20px;
   }
     @media screen and (max-width: 600px) {
     width: 230px ;
     margin: 112px auto;
      gap: 20px;
   }
     &-card {
        width: 225px;
        height: 225px;
     }
  }
}

