.basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  height: 987px;
  margin: 0 auto;
  padding: 0;
  gap: 48px;
  background-color: aqua;
  &__block {
    display: flex;
    flex-wrap: wrap;
    width: 1316px;
    height: 771px;
    margin-top: 112px;
    margin-bottom: 48px;
    gap: 48px;
    //  grid-template-columns: auto auto auto auto auto;
     background-color: red;
  }
}


// .cat {
//   display: flex;
// flex-direction: column;
// justify-content: center;
//   transform: scale(1);
  
//   &__block {
//     position: relative;
//     width: 225px;
//     height: 225px;
//     button {
//       position: absolute;
//       width: 257px;
//       height: 94px;
//       bottom: 0;
//       svg {
//         position: absolute;
//         top: 33px;
//         left: 170px;
//       }
//     }
  
//   img {
//     width: 225px;
//     height: 225px;
//   }
  
//   }
//   &:hover {
//     transform: scale(1.2);
//     transition-duration: .7s;
//     background: #FFFFFF;
//   box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
//   }
//   }
  